<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moonwalk (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D33870E2264E3A520047D6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33870EA264E3A520047D6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33870F2264E3A520047D6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33870FD264E3A520047D6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
